# General App Config
PROJECT_NAME="Golden Minute AI"
API_STR="/api"
SECRET_KEY="supersecretjwtkeythatisproductionreadyandlongenough321"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Databases
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/golden_minute"
REDIS_URL="redis://localhost:6379/0"

# Firebase Cloud Messaging
FIREBASE_CREDENTIALS_PATH="/workspace/firebase-key.json"

# AI Model
MODEL_PATH="/workspace/app/ai/model.joblib"
